Jinja2==2.7.2
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
astroid==1.1.1
beautifulsoup4==4.3.2
docutils==0.11
logilab-common==0.61.0
pep8==1.5.6
pyflakes==0.8.1
pylint==1.2.1
python-ntlm==1.0.1
requests==2.2.1
requests-ntlm==0.0.2.3
sphinxcontrib-napoleon==0.2.7
wsgiref==0.1.2
